asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
channels==4.2.2
charset-normalizer==3.4.2
cryptography==45.0.4
Django==5.2.3
django-channels==0.7.0
django-environ==0.12.0
django-extensions==4.1
idna==3.10
oauthlib==3.2.2
pillow==11.2.1
pycparser==2.22
pycrypto==2.6.1
qrcode==8.2
requests==2.32.4
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.4.0
