{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'authorization/css/my_contracts.css' %}">
{% endblock %}

{% block title %} SmartSchool - My contracts {% endblock %}

{% block page_title %} My contracts {% endblock %}

{% block content %}
    <div class="section_container">
        <div class="wrapper">
            <div class="main_profile_redactor_container">

                <div class="title_main_profile_redactor_block">
                    <h1>Account Overview</h1>
                    <p>Home - Account</p>
                </div>

                <div class="information_main_profile_redactor_block">
                    <div class="main_info_container">
                        <div class="main_information_profile_block">
                            {% if not user.user_info.photo_avatar %}
                                <div class="image_main_information_block" style="background-image: url('https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=461&q=80');"></div>
                            {% else %}
                                <div class="image_main_information_block" style="background-image: url('{{ user.get_photo }}');"></div>
                            {% endif %}
                            <div class="user_information_profile_block">
                                <div class="fullname_user_information_block">
                                    {% if user.full_name %}
                                        <h1>{{ user.full_name }}</h1>
                                    {% else %}
                                        <h1>Anonymous</h1>
                                    {% endif %}
                                    <i>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#009ef7" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"></path>
                                        </svg>
                                    </i>
                                </div>
                                <div class="additional_user_information_block">
                                    <div class="geolocation_user_information_block">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#474761" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
                                            </svg>
                                        </i>
                                        <h1>Kazakhstan</h1>
                                    </div>
                                    <div class="mail_user_information_block">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#474761" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                                 <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"></path>
                                            </svg>
                                        </i>
                                        <h1>{{ user.email }}</h1>
                                    </div>
                                </div>
                                <div class="user_actions_list_container">
                                    <div class="balance_user_information_block">
                                        <div class="check_balance_user_block">
                                            <div class="title_check_balance_user_block">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#2CED6E" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"></path>
                                                    </svg>
                                                </i>
                                                <h1>{{ courses_count }}</h1>
                                            </div>
                                            <p>Courses</p>
                                        </div>
                                    </div>

                                    <div class="balance_user_information_block">
                                        <div class="check_balance_user_block">
                                            <div class="title_check_balance_user_block">
                                                <i>
                                                    <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ea1414" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"></path>
                                                    </svg>
                                                </i>
                                                <h1>{{ debt_sum }}</h1>
                                            </div>
                                            <p>Debt</p>
                                        </div>
                                    </div>

                                    <div class="balance_user_information_block">
                                        <div class="check_balance_user_block">
                                            <div class="title_check_balance_user_block">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#2CED6E" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"></path>
                                                    </svg>
                                                </i>
                                                <h1>{{ contracts_count }}</h1>
                                            </div>
                                            <p>Contracts</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="completion_information_profile_block">
                            <a href="" class="replenish_balance_user_block">
                                Add course
                            </a>
                            <div class="percentage_completion_user_block">
                                <div class="title_percentage_completion_block">
                                    <h1>Profile Completion</h1>
                                    <p>{{ completion_percentage }}%</p>
                                </div>
                                <div class="background_range_question_block">
                                    {% if empty_fields == 0 %}
                                        <div class="range_question_value_block" style="width: 100%;"></div>
                                    {% else %}
                                        <div class="range_question_value_block" style="width: {{ completion_percentage }}%;"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="account_page_tabcontent_list">
                        <a href="{% url 'profile' %}" class="account_page_overview tabcontent">Overview</a>
                        <a href="{% url 'edit_profile' %}" class="account_page_settings tabcontent">Settings</a>
                        <a href="{% url 'my_contracts' %}" class="account_page_contracts tabcontent active">Contracts</a>
                    </div>

                </div>

                <div class="profile_detail_profile_redactor_block">
                    <div class="title_profile_detail_redactor_block">
                        <h1>Contract Details</h1>
                    </div>
                    <div class="main_information_profile_detail_block">

                        <div class="contract_main_info">
            <div class="contract_main_table_info">
                <table class="contract_table_container contract_table_style">
                    <thead>
                        <tr>
                            <th><h2>№</h2></th>
                            <th><h2>Student's Full Name</h2></th>
                            <th><h2>Date of contract</h2></th>
                            <th><h2>Termination of<br>contract</h2></th>
                            <th><h2>Status</h2></th>
                            <th><h2>Sum of contracts</h2></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="contract_info">
                    {% for contract in contracts %}
                        <tr id="contract_tr_object" class="contract-data">
                            <td><h2>#{{ forloop.counter }}</h2></td>
                            <td><h2>{{ contract.student.user.full_name }}</h2></td>
                            <td><h2>{{ contract.date|date:"d.m.Y" }}</h2></td>
                            <td><h2>{% if contract.date_close %}{{ contract.date_close|date:"d.m.Y" }}{% endif %}</h2></td>
                            <td><h2 class="contract_status_{{ contract.status }} contract_status_base_style">{{ contract.status }}</h2></td>
                            <td><h2 id="contract_formatted_amount">{{ contract.final_amount }}</h2></td>
                            <td>
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                    </svg>
                                </i>
                            </td>
                        </tr>

                        <tr class="contract_details_main_container" id="contract_details_{{ contract.id }}" style="display: none">
                            <td class="contract_details_info_container" colspan="6">
                                <div class="header_title_block_contract_details">
                                    <h1 class="active">Transactions</h1>
                                    <h1>Accruals</h1>
                                </div>
                                <div class="main_block_contract_details">
                                    <div class="contract_transaction_info">
                                        <table class="contract_table_style">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th><h2>Date of payment</h2></th>
                                                <th><h2>Payment amount</h2></th>
                                                <th><h2>Type of payment</h2></th>
                                                <th><h2>Comment</h2></th>
                                            </tr>
                                            </thead>
                                            <tbody class="contract_transactions_data">
                                                {% for transaction in contract.transactions.all %}
                                                    <tr>
                                                        <td>
                                                            <i>
                                                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                                                     xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M15.862 3.48725L17.549 1.79925C17.9007 1.44757 18.3777 1.25 18.875 1.25C19.3723 1.25 19.8493 1.44757 20.201 1.79925C20.5527 2.15092 20.7502 2.6279 20.7502 3.12525C20.7502 3.62259 20.5527 4.09957 20.201 4.45125L5.832 18.8202C5.30332 19.3486 4.65137 19.737 3.935 19.9502L1.25 20.7502L2.05 18.0652C2.26328 17.3489 2.65163 16.6969 3.18 16.1682L15.863 3.48725H15.862ZM15.862 3.48725L18.5 6.12525"
                                                                          stroke="#233255" stroke-width="1.5"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"/>
                                                                </svg>
                                                            </i>
                                                        </td>
                                                        <td><h2>{{ transaction.datetime|date:"d.m.Y" }}</h2></td>
                                                        <td><h2>{{ transaction.amount }}</h2></td>
                                                        <td><h2>{{ transaction.payment_type }}</h2></td>
                                                        <td><h2>{{ transaction.description }}</h2></td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="5"><h2>No transactions</h2></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="contract_accruals_info" style="display: none;">
                                        <table class="">
                                            <thead>
                                            <tr>
                                                <th><h2>№</h2></th>
                                                <th><h2>Month</h2></th>
                                                <th><h2>Accrual amount</h2></th>
                                            </tr>
                                            </thead>
                                            <tbody class="contract_accruals_data">
                                                {% for accrual in contract.accruals.all %}
                                                    <tr>
                                                        <td><h2>#{{ forloop.counter }}</h2></td>
                                                        <td><h2>{{ accrual.date }}</h2></td>
                                                        <td><h2>{{ accrual.amount }}</h2></td>
                                                    </tr>
                                                {% empty %}
                                                    <tr>
                                                        <td colspan="3"><h2>No accruals</h2></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="contract_transaction_main_info">
                <div class="contract_transaction_main_table_info">
                    <table class="contract_transaction_table_container contract_table_style">
                        <thead>
                        <tr>
                            <th></th>
                            <th><h2>Date of payment</h2></th>
                            <th><h2>Payment amount</h2></th>
                            <th><h2>Type of payment</h2></th>
                            <th><h2>Comment</h2></th>
                        </tr>
                        </thead>
                        <tbody id="contract_transactions_info"></tbody>
                    </table>
                </div>
            </div>
        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}