<!doctype html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'authorization/css/register.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JoinUP - Sign up</title>
</head>
<body>
    <section>
        <div class="background_container">
            <i class="first_background_container">
                <svg width="632" height="1080" viewBox="0 0 632 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M595.833 658.558C773.747 476.236 237.008 133.13 -53.601 -15.6332L-412.003 189.115L-108.432 1198.19C52.192 1094.28 417.919 840.88 595.833 658.558Z" fill="#F6AD2B"/>
                </svg>
            </i>
            <i class="second_background_container">
                <svg width="1233" height="566" viewBox="0 0 1233 566" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M967 518C606.2 713.2 172.333 253.667 0.5 -0.5L58.5 -314.5L1500 -256.5C1472.67 -79.6667 1327.8 322.8 967 518Z" fill="#233255"/>
                </svg>
            </i>
            <i class="third_background_container">
                <svg width="1123" height="523" viewBox="0 0 1123 523" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M463 0.0071964C312.6 1.6072 91.6667 357.007 0 534.507L984.5 769.007L1273 397.007C1065.67 264.007 613.4 -1.5928 463 0.0071964Z" fill="#E2E2E2"/>
                </svg>
            </i>
        </div>
        <div class="main_container">
            <div class="login_container">
                <div class="title_block_login_container">
                    <h1>Sign up</h1>
                </div>
                <div class="form_block_login_container">
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="role" value="1" hidden>
                        <div class="input_block_login_container">
                            <input type="text" name="full_name" required>
                            <div class="labelline">Full name</div>
                        </div>
                        <div class="input_block_login_container">
                            <input type="text" name="mobile_phone" required>
                            <div class="labelline">Mobile number</div>
                        </div>
                        <div class="input_block_login_container">
                            <input type="password" name="password" required id="password-input">
                            <div class="labelline">Password</div>
                        </div>
                        <div class="dropdown_menu_container">
                            <div class="dropdown_menu_list_container">
                                <div class="dropdown_menu"></div>
                                <div class="dropdown_menu"></div>
                                <div class="dropdown_menu"></div>
                                <div class="dropdown_menu"></div>
                            </div>
                            <div class="dropdown_menu_text_container">
                                <p>Use 8 or more characters with a mix of letters, numbers & symbols.</p>
                            </div>
                        </div>
                        <div class="input_block_login_container">
                            <input type="password" name="confirm_password" required>
                            <div class="labelline">Confirm password</div>
                        </div>
                        <div class="remember_me_login_container">
                            <label for=""></label><input type="checkbox" name="remember_me" id="">
                            <h1>Remember me</h1>
                        </div>
                        <div class="error_message_container">
                            {% for message in messages %}
                                <h1>{{ message }}</h1>
                            {% endfor %}
                        </div>
                        <div class="button_block_login_container">
                            <button type="submit">Continue</button>
                        </div>
                        <div class="not_account_container">
                            <h1>Already have an account? <a href="{% url 'login' %}">Login</a></h1>
                        </div>
                    </form>
                </div>

<!--                <div class="change_language_container">-->
<!--                    <div class="main_change_language_container">-->
<!--                        <div class="flag_block_change_language_container">-->
<!--                            <img src="{% static 'authorization/images/flag_english.png' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="title_block_change_language_container">-->
<!--                            <h1>English</h1>-->
<!--                            <i>-->
<!--                                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                                    <path d="M12 0.86617L6.5 7.13403L0.999999 0.86617" stroke="#838383"/>-->
<!--                                </svg>-->
<!--                            </i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>

    <script src="{% static 'authorization/js/register.js' %}"></script>
</body>
</html>