<!doctype html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'authorization/css/verify_email.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JoinUP - Enter email</title>
</head>
<body>
    <section>
        <div class="background_container">
            <i class="first_background_container">
                <svg width="632" height="1080" viewBox="0 0 632 1080" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M595.833 658.558C773.747 476.236 237.008 133.13 -53.601 -15.6332L-412.003 189.115L-108.432 1198.19C52.192 1094.28 417.919 840.88 595.833 658.558Z" fill="#F6AD2B"/>
                </svg>
            </i>
            <i class="second_background_container">
                <svg width="1233" height="566" viewBox="0 0 1233 566" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M967 518C606.2 713.2 172.333 253.667 0.5 -0.5L58.5 -314.5L1500 -256.5C1472.67 -79.6667 1327.8 322.8 967 518Z" fill="#233255"/>
                </svg>
            </i>
            <i class="third_background_container">
                <svg width="1123" height="523" viewBox="0 0 1123 523" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M463 0.0071964C312.6 1.6072 91.6667 357.007 0 534.507L984.5 769.007L1273 397.007C1065.67 264.007 613.4 -1.5928 463 0.0071964Z" fill="#E2E2E2"/>
                </svg>
            </i>
        </div>
        <div class="main_container">
            <div class="login_container">
                <div class="title_block_login_container">
                    <h1>Verify your email</h1>
                </div>
                <div class="enter_email_description_text">
                    <h1>We sent code to <span>{{ email }}</span></h1>
                </div>
                <div class="form_block_login_container">
                    <div class="otp-card-inputs">
                        <input type="text" name="otp1" maxlength="1" autofocus>
                        <input type="text" name="otp2" maxlength="1">
                        <input type="text" name="otp3" maxlength="1">
                        <input type="text" name="otp4" maxlength="1">
                    </div>

                    <div class="enter_email_description_text">
                        <h1>Didn't get a code? <a href="{% url 'enter-email' %}">Click to resend</a></h1>
                    </div>
                    <div class="button_block_login_container">
                        <button type="button" disabled onclick="sendVerificationCode()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function sendVerificationCode() {
            let inputs = document.querySelectorAll('.otp-card-inputs input');
            let verification_code = '';

            for (let i = 0; i < inputs.length; i++) {
                verification_code += inputs[i].value;
            }

            fetch('/auth/verify-email/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({
                    'verification_code': verification_code,
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status === 200) {
                    window.location.href = '/';
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>

    <script src="{% static 'authorization/js/verify_email.js' %}"></script>
</body>
</html>